AdcDemo/dist/
AdcDemo/build/
PpmDemo/dist/
PpmDemo/build/
pincontroller/dist/
pincontroller/build/
*.o
*.o.d
*.inc

/GpioDemo/dist/
/GpioDemo/build/
/sensors/build/
/sensors/dist/
/cherokey-robot/commserver/build/
/cherokey-robot/commserver/dist/
/cherokey-robot/RobotControl/build/
/cherokey-robot/RobotControl/dist/
/cherokey-robot/commserver/messages/
/cherokey-robot/RobotControl/moc/
/cherokey-robot/RobotControl/messages/
/cherokey-robot/nmea/build/
/cherokey-robot/nmea/dist/